
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#app {
    height: 100%;
  }
  
.el-aside {

  a {
    font-weight: bold;
    color: #FFFFFF;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
  
.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}